#profile{
    text-align: center;
    padding: 100px 50px;
    button{
        background-color: #000;
        color: #fff;
        padding: 10px;
        border: none;
        cursor: pointer;
        transition: 300ms;
        margin-top: 20px;
        margin-bottom: 10px;
        &:hover{
            background-color: #ffb700; 
        }
    }
    h3{
        margin-top: 30px;
    }
    h4{
        margin-top: 30px;
    }
}